RPC/src/main/resources/ServerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://homework1/" name="serverService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://homework1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://homework1/" schemaLocation="ServerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sync">
    <part name="parameters" element="tns:sync"/>
  </message>
  <message name="syncResponse">
    <part name="parameters" element="tns:syncResponse"/>
  </message>
  <message name="upload">
    <part name="parameters" element="tns:upload"/>
  </message>
  <message name="uploadResponse">
    <part name="parameters" element="tns:uploadResponse"/>
  </message>
  <message name="create_backup_folder">
    <part name="parameters" element="tns:create_backup_folder"/>
  </message>
  <message name="create_backup_folderResponse">
    <part name="parameters" element="tns:create_backup_folderResponse"/>
  </message>
  <portType name="server">
    <operation name="sync">
      <input wsam:Action="http://homework1/server/syncRequest" message="tns:sync"/>
      <output wsam:Action="http://homework1/server/syncResponse" message="tns:syncResponse"/>
    </operation>
    <operation name="upload">
      <input wsam:Action="http://homework1/server/uploadRequest" message="tns:upload"/>
      <output wsam:Action="http://homework1/server/uploadResponse" message="tns:uploadResponse"/>
    </operation>
    <operation name="create_backup_folder">
      <input wsam:Action="http://homework1/server/create_backup_folderRequest" message="tns:create_backup_folder"/>
      <output wsam:Action="http://homework1/server/create_backup_folderResponse" message="tns:create_backup_folderResponse"/>
    </operation>
  </portType>
  <binding name="serverPortBinding" type="tns:server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="create_backup_folder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="serverService">
    <port name="serverPort" binding="tns:serverPortBinding">
      <soap:address location="http://localhost:5050/server"/>
    </port>
  </service>
</definitions>

